<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Registeration form</title>
    <!-- <link rel="stylesheet" href="register.css" /> -->
    <style>
      * {
        margin: 0;
        padding: 0;
      }

      nav {
        background-color: blueviolet;
        display: flex;
      }
      nav ul {
        display: flex;
        /* background-color: blueviolet; */
        width: 80%;
      }

      nav ul li,
      span {
        list-style: none;
        padding: 30px;
        color: whitesmoke;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      }

      nav ul a {
        text-decoration: none;
      }

      nav ul li:hover {
        background-color: black;
      }

      .formDiv {
        color: white;
        display: flex;
        height: 90vh;
        justify-content: center;
        align-items: center;
        background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
      }

      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      form h1 {
        padding: 15px;
        margin: 10px;
        color: whitesmoke;
        font-family: "Teko", sans-serif;
      }
      fieldset {
        width: 366px;
        border: none;
        color: whitesmoke;
      }

      fieldset input {
        margin: 12px;
        outline: none;
        padding: 5px;
        border-radius: 2.5px;
        width: 300px;
        background-color: transparent;
        color: whitesmoke;
      }

      fieldset #btn {
        background-color: green;
        padding: 8px;
        color: black;
        width: 150px;
        position: relative;
        right: -80px;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <div class="mainDiv">
      <div class="navDiv">
        <nav>
          <ul>
            <span><%= UserName%></span>
            <!-- <a href="/"><li>New User</li></a> -->
            <a href="/users-list"><li>Users List</li></a>
          </ul>

          <a href="/remove-cookie">Log out</a>
        </nav>
      </div>
      <div class="formDiv">
        <!-- form starting -->
        <h1>Welcome <%= UserName%></h1>
        <!-- form ending -->
      </div>
    </div>
  </body>
</html>
